@import '~bootstrap/scss/bootstrap';
// @import "partials/variables";
// @import "partials/common";
// @import "partials/header";
// @import "partials/home";
// @import "partials/footer";
// @import "partials/show";
// @import "partials/main-nav";

.contenitore {
    padding: 2em 1em;
    max-width: 1300px;
    min-width: 30.5em;
    margin: 0 auto;
}

.card_head {
    position: relative;
    background-image: url('/public/img/img-default-project.jpg');
    background-size: cover;
    background-position: center;
    height: 20em;
    // aspect-ratio: 1 / 1;
    border-radius: 4%;
    margin: 0.5em;
    width: calc((100% / 3) - 0.5em * 2);
    box-shadow: 0px 14px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff9800;
    opacity: 0;
    border-radius: 4%;
    transition: opacity 0.5s ease;
}

.card_info:hover {
    opacity: 1;
    cursor: pointer;
}

h2 {
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.technologies {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    margin-left: 25px;
    color: white;
}

.status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.butt {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffc107;
    font-size: 15px;
    color: whitesmoke;
    text-align: center;
    line-height: 70px;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.3s;
}

.butt::before {
    content: '+';
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butt:hover {
    background-color: #ff9800;
    transform: scale(1.1);
}




.card_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
}

.portfolio-heading {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo_portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo_portfolio img {
    width: 50px;
    height: 50px;
}


.contenitore div a {
    display: inline-block;
}