@import '~bootstrap/scss/bootstrap';
@import "partials/variables";
// @import "partials/common";
// @import "partials/header";
// @import "partials/home";
// @import "partials/footer";
// @import "partials/show";
// @import "partials/main-nav";

.contenitore {
    padding: 2em 1em;
    max-width: 1300px;
    min-width: 30.5em;
    margin: 0 auto;
}

.card_head {
    background-color: pink;
    height: 20em;
    width: 30em;
    border-radius: 7px;
    margin: 0.5em;
    border: solid 2px black;
}

.butt {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffc107;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    line-height: 70px;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.butt::before {
    content: '+';
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butt:hover {
    background-color: #ff9800;
    transform: scale(1.1);
}




.card_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-heading {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo_portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo_portfolio img {
    width: 50px;
    height: 50px;
}